/* Method to declare your own fonts */
@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../assets/fonts/Oswald/static/Oswald-Regular.ttf);
}

/* X-Small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ...}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ...}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ...}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ...}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ...}

body {
    background: rgba(182, 231, 243, 1.0);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main_3d_image {
    background-image: url(../assets/images/main_3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* The div block for the main_3d_image has no vertical size, 
    so we need a height to see the background image */
    height: 200px;
    width: 100%;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
}

#main_text h2 {
    color: rgba(0,102,153,1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#main_text h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
} 

.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(182, 231, 243, 1.0);
}

.fom a{
    color: #fff;
    text-decoration: none;
    border-color: transparent;
    font-family: 'Oswald', sans-serif;    
}

.us{
    background-color: #003B49;
    border-color: transparent;
    font-family: 'Oswald', sans-serif;   
    color: white;

}

#link_right, .btn {
    background-color: #760003;
    border-color: transparent;
}

#link_mid, .btn {
    background-color: #00B140;
}

#link_left, .btn {
    background-color: #E90128;
}

/* CSS rule to style the mobile logo */
.logo {
    padding-top: 21px;
}
    

.logo h1 {
     /* You don't need to repeat this for each media query as it is propagated */
     font-family: cocaColaFont;
     font-size: 31px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
}

.logo h2 {
    font-family: cocaColaFont;
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
}

.logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
}

.logo p {
    font-size: 7px; /* You may have to tweak this to get a good fit */
    margin-top: 22px; /* You may have to tweak this to get a good fit */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

/* New CSS rules to better position the navbar and increase its height, Bootstrap defaults tend to make your site look like a Bootstrap clone! 
*/

/* CSS rule to overwrite the navbar background and border color — again, helps to stop your site looking like a Bootstrap clone! 
*/
.navbar_coca_cola {
    background-color: #760003; /* Set navbar background color */
    border-color: black; /*Sets the navbar border color */
    /* border-style: solid; */
    border-width: 0px;
    min-height: 70px;
    margin-left: 0px;
    padding-bottom: -1px;
}

/* CSS rule to overwrite the navbar-brand font color
*/
.navbar_coca_cola .navbar-brand {
    color: rgb(245, 235, 235);
}
    
/* CSS rule to overwrite the navbar-brand font hover color
*/
.navbar_coca_cola .navbar-brand:hover {
    color: black;
}

/* NAVIGATION MENU
*/

/* CSS rules to overwrite the position of the Bootstrap menu. These are derived from the
Bootstrapbay Bootstrap Tutorial Part 11 — CSS Modifications to Navbar and Buttons shows how to do this using Bootstrap 3, the principle should be the same: https://www.youtube.com/watch?v=7v2yC3GyDHU   

There is plenty more styling to do than indicated here, in mobile it still defaults to Bootstrap CSS on dropdown!
*/

.navbar_coca_cola .navbar-nav > li > a {
    color: white;
    font-family: 'Oswald', sans-serif; 
}

/* CSS rule to overwrite the bootstrap.css text hover color on the navbar
*/
.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola .navbar-nav > li > a:focus {
    color: black;  
}

.navbar_coca_cola .navbar-nav .nav-item {
    margin-top: 0px;
}

/* A set of CSS rules to change the Bootstrap defaults for the menu link text color, hover, background, focus
*/
    
/* These next two CSS rules control the style of the icon bar */
.navbar_coca_cola .navbar-toggler {
    border-color: white;
}

.navbar_coca_cola  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Let's style the dropdown menu
*/

.dropdown-menu {
    text-align: -webkit-left;
    background-color: #760003;
    margin-top: 20px; /* Experiment to move the dropdown menu down */
    font-family: 'Oswald', sans-serif; 
}

.dropdown-menu .dropdown-item {
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    color: black;
    background-color: white;
}

.navbar_coca_cola .navbar-toggler {
    outline: none !important;
}

/* Simple CSS rules for styling p and h1-h6 elements*/ 
p {
	font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
    /*font-family: cocaColaFont; */
}

/* CSS rule to style the footer */
.footer {
    background-color: #760003;
    color: #030303;
    width: 100%;
    border-width: 0;
    margin: 0;
    padding-bottom: 0px;
}


/* modal styling */
.modal-footer .btn-secondary {
    background-color: #760003;
    color: white;
    border: white;
}



.navbar-text > a { 
    font-size: 10px; 
} 



.navbar-text > p { 
    color: rgb(255, 255, 255); 

    font-size: 14px; 

    text-decoration: none; 
} 



.copyright {
    padding-top: 8px; 
} 



.social { 
    padding-top: 0px; 
    align-self: right;
} 

.card-title, .gallery-header {
    color: #353839;
    font-family: cocaColaFont; 
}



